@charset "UTF-8";

@media screen and (min-width:769px) and (max-width:992px) {
    section#login{
        width: 80vw;
    }

    section#login > div#imagen {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float:right;
        width: 70%;
    }
    
}

@media screen and (min-width: 992px) {
    section#login{
    float: left;
    width: 50%;
    height: 100%;
    }
    
}

section#login > div#imagen {
    float: left;
    width: 50%;
    height: 100%;
}

section#login > div#formulario {
    float: right;
    width: 50%;
}