@charset "UTF-8";

/*paleta de cores

*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,html{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
   
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #000000fe;

    /*sempre coloca <transform> e sua variaveis como ultimo no seletor para evitar erros de imcompatibilidade */
    transform: translate(-50%,-50%);
    transition: .2s .2s;
    transition-timing-function:ease ;
}

section#login > div#imagen{
    display: block;
    background: #25073a url(../imagens/pexels-vlraw-24407580.jpg);
    height: 200px;
    background-size: cover;
    background-position: left bottom;
}

section#login > div#formulario{
    display: block; /*em obs*/
    padding: 10px;  
}

div#formulario > h1 {
    text-align: center;
    bottom: 10px;
}

div#formulario > p {
    font-size: 1em;
}

form >input[type=submit]{
    display: block;
    width: 100%;
    font-size: 1em;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: #244d4c;
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #ffff;
    border: solid 1px #244d4c;
    border-radius: 10px;
    text-decoration: none;
    color: #244d4c;
    padding-top: 5px;
    margin-top: 5px;
}

form > a.botao > span{
    font-size: 0.8em;
}

form > a.botao:hover{
    background-color: #69ece8;
}

form > div.campo{
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label{
    display: none;
}

div.campo > span{
    color: white;
    /*background-color: black;*/
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #5cd6d2;
    font-size: 1em;
    width: calc(100% - 45px);
    
    border: 0px;
    height: 100%;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-12px);
}

div.campo > input:focus-within{
    background-color: white;
}